/* Style should be here for websites. */
/* Start top to bottom with styling */

@font-face {
    src: url('Fonts/OPTIEngeEtienne.otf');
    font-family: ffxiv; 
}


.header {
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to left bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255, 0.3));
  color: white;
  font-size: 30px;
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 1px 5px 10px black;
  border-radius: 15px;
}

.logoimg {
  height:250px;
  width: 250px;
}

.navigation {
  list-style-type: none;
  text-align: center;
  margin: 30px;
  padding: 15px;
  background: linear-gradient(to left bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255, 0.3));
  border-radius: 15px;
  position: absolute;
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 1px 5px 10px black;
  top: 13%;
  left: 43%;
}

li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

a {
  display: block;
  padding: 8px;
  background: linear-gradient(to left bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255, 0.3));
  border-radius: 15px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 0, 234, 0.3);
}

.activebar {
  background-color: rgb(255, 0, 234);
}

body {
    height:  100vh;
    background: linear-gradient(to left top,#B600F0, #AB4BFF);
  }
  


  #welcome {
    font-family: ffxiv;
    text-align: center;
    color: #800080;
  }

  .pic1 {
    width: 40vh;
    border-radius: 200px;
    position: absolute;
    left: -25%
  }

  .pic2 {

    width: 40vh;
    border-radius: 200px;
    position: absolute;
    right: -25%
  }
            
  .pic3 {

    width: 40vh;
    border-radius: 200px;
    position: absolute;
    right: -25%
  }

  .pic4 {
    width: 40vh;
    border-radius: 200px;
    position: absolute;
    left: -25%
  }

  .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    height: 160px;
    margin: 10px auto 10px 200px;
    background: linear-gradient(to left bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255, 0.3));
    border-radius: 15px;
    color: #900080;
    position: relative;
    margin: 10%;
    
  }


  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    height: 160px;
    margin: 10px 200px 10px auto;
    background: linear-gradient(to left bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255, 0.3));
    border-radius: 15px;
    color: #900080;
    position: relative;
    margin-right: 10%;
  }
  
